header {
    padding: 30px 290px 30px 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-Logo {
    width: 200px;
}

@media screen and (max-width: 393px) {
    header {
        padding: 0px;
        margin: 0px;
        justify-content: center;
        padding-top: 10px;
    }
}

#landing-page-list {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: "Karla", serif;
    font-weight: bold;
}

#landing-page-list a {
    text-decoration: none;
    color: black;
    transition:  0.2s;
}

#landing-page-list a:hover {
    font-size:22px;
    text-decoration: none;
    color: #f4ce14;
}

@media screen and (max-width: 393px) {
    #landing-page-list {
        display: none;
    }
}
