#testamonials-container {
    height: 560px;
    background-color: #fdf4ee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    color: #495e57;
    padding-top: 83px;
}

#messages-container {
    display: grid;
    grid-template-areas: "message message message message";
}

#message {
    grid-area: message;
    display: flex;
    gap: 100px;
}
