#testamonials-container {
    padding: 0px 290px 0px 290px;
    height: 560px;
    background-color: #fdf4ee;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#testamonials-header {
    color: #495e57;
    display: flex;
    justify-content: center;
}


#message {
    grid-area: message;
    display: flex;
    justify-content: space-between;
}
