#hero {
    background-color: #495e57;
    display: flex;
    justify-content: space-between;
    padding: 30px 290px 140px 290px;
    height: 270px;
}

#hero-booking-message {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#hero-text {
    padding-top: 30px;
    width: 422px;
    height: 331px;
}

#hero-image {
    float: right;
    width: 375px;
    height: 450px;
    left: 775px;
    top: 146px;
    border-radius: 25px;
}

#hero-text > h1 {
    height: 60px;
    font-family: "Markazi Text";
    font-size: 64px;
    font-weight: 500;
    color: #f4ce14;
}

#hero-text > h3 {
    font-family: "Markazi Text";
    font-size: 40px;
    font-weight: 300;
    color: white;
}

#hero-text > p {
    padding-top: 26px;
    padding-bottom: 13px;
    font-family: "Karla";
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#hero-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
    cursor: pointer;
    padding-top: 30px;
}



@media screen and (max-width: 393px) {
    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #495e57;
        padding: 0px 30px 140px 30px;
        height: 550px;
    }

    #hero-booking-message {
        display: flex;
        justify-content: center;
    }

    #hero-text {
        padding-top: 30px;
        width: 300px;
        height: 331px;
    }

    #hero-image {
        margin-top: 110px;
        width: 250px;
        border-radius: 25px;
    }

    #hero-text > h1 {
        height: 60px;
        font-family: "Markazi Text";
        font-size: 60px;
        font-weight: 500;
        color: #f4ce14;
    }

    #hero-text > h3 {
        font-family: "Markazi Text";
        font-size: 40px;
        font-weight: 300;
        color: white;
    }

    #hero-text > p {
        padding-top: 26px;
        padding-bottom: 13px;
        font-family: "Karla";
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    #hero-button {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        text-align: inherit;
        font: inherit;
        border-radius: 0;
        appearance: none;
        cursor: pointer;
        padding-top: 10px;
    }

    #hero-booking-message {
        display: flex;
        justify-content: center;
    }
}
