ul {
    width: 600px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family: "Karla", serif;
    font-weight: bold;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 393px) {
    ul {
        display: none;
    }


}
