footer {
    background-color: #495e57;
    display: flex;
    justify-content: space-between;
    padding: 95px 290px 50px 290px;
}

#links {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.footer-list {
    list-style: none;
}

.footer-list a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.footer-list a:hover {
    text-decoration: none;
    color: #f4ce14;
}

h4 {
    color: #f4ce15;
    padding-bottom: 24px;
}

#logo {
    width: 200px;
}

@media screen and (max-width: 393px) {
    footer {
        padding: 0px 30px 80px 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        background-color: #495e57;
        display: flex;
    }

    #logo {
        width: 75px;
    }

    #links {
        font-size: smaller;
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
}
