#card-container {
    font-family: "Karla";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 90px;
    background-color: #ee9972;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#card-info {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

#card-title {
    padding-top: 10px;
    color: white;
    font-size: 30px;
}

.card-date-time {
    padding: 0px;
    color: rgb(131, 0, 0);
}

.span-highlight {
    color: white;
}

@media screen and (max-width: 393px) {
    #card-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 90px;
        background-color: #ee9972;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #card-info {
        
        padding-top: 10px;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    #card-title {
        padding-top: 10px;
        color: white;
        font-size: 20px;
    }

    .card-date-time {
        padding: 0px;
        color: rgb(131, 0, 0);
        font-size: 15px;

    }

    .span-highlight {
        color: white;
    }
}
