#button {
    background-color: #f4ce14;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

#button:hover {
    background-color: #e0bd09;
}

#button-text {
    padding: 0px;
    font-size: 18px;
    color: black;
    font-family: "Karla";
    font-weight: 800;
}

#hero-button {
    padding-top: 50px;
}
